## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.49,74,46,7.09,light rain
1,1,Aksu,CN,41.1231,80.2644,89.89,19,0,6.11,clear sky
2,2,San Rafael,AR,-34.6177,-68.3301,42.35,47,28,3.60,scattered clouds
3,3,Vostok,RU,46.4856,135.8833,85.32,58,100,4.18,overcast clouds
4,4,Busselton,AU,-33.6500,115.3333,52.09,57,100,26.02,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Butaritari,KI,3.0707,172.7902,82.49,74,46,7.09,light rain
1,1,Aksu,CN,41.1231,80.2644,89.89,19,0,6.11,clear sky
3,3,Vostok,RU,46.4856,135.8833,85.32,58,100,4.18,overcast clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,72.72,71,2,5.55,clear sky
6,6,Albany,US,42.6001,-73.9662,72.25,79,0,1.01,clear sky
8,8,Tubuala,PA,9.5167,-79.0333,78.33,86,100,6.08,overcast clouds
9,9,Pochutla,MX,15.7432,-96.4661,82.81,92,100,2.82,overcast clouds
12,12,Hilo,US,19.7297,-155.0900,78.53,86,75,9.22,light rain
14,14,Ponta Delgada,PT,37.7333,-25.6667,70.52,94,75,5.75,light intensity drizzle
15,15,Sistranda,NO,63.7256,8.8340,70.90,82,9,5.03,clear sky

In [5]:
len(clean_df)

358

In [6]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                358
City                   358
Country                358
Lat                    358
Lng                    358
Max Temp               358
Humidity               358
Cloudiness             358
Wind Speed             358
Current Description    358
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,light rain,3.0707,172.7902,
1,Aksu,CN,89.89,clear sky,41.1231,80.2644,
3,Vostok,RU,85.32,overcast clouds,46.4856,135.8833,
5,Ponta Do Sol,PT,72.72,clear sky,32.6667,-17.1000,
6,Albany,US,72.25,clear sky,42.6001,-73.9662,
8,Tubuala,PA,78.33,overcast clouds,9.5167,-79.0333,
9,Pochutla,MX,82.81,overcast clouds,15.7432,-96.4661,
12,Hilo,US,78.53,light rain,19.7297,-155.0900,
14,Ponta Delgada,PT,70.52,light intensity drizzle,37.7333,-25.6667,
15,Sistranda,NO,70.90,clear sky,63.7256,8.8340,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Aksu,CN,89.89,clear sky,41.1231,80.2644,Pudong Holiday Hotel
3,Vostok,RU,85.32,overcast clouds,46.4856,135.8833,
5,Ponta Do Sol,PT,72.72,clear sky,32.6667,-17.1000,Hotel do Campo
6,Albany,US,72.25,clear sky,42.6001,-73.9662,
8,Tubuala,PA,78.33,overcast clouds,9.5167,-79.0333,Río Nabagana
9,Pochutla,MX,82.81,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
12,Hilo,US,78.53,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Ponta Delgada,PT,70.52,light intensity drizzle,37.7333,-25.6667,Vila Nova Hotel
15,Sistranda,NO,70.90,clear sky,63.7256,8.8340,Hotell Frøya
17,Samarai,PG,78.73,overcast clouds,-10.6167,150.6667,Nuli Sapi
18,Byron Bay,AU,72.05,clear sky,-28.6500,153.6167,Backpackers Inn on the Beach
19,Bontang,ID,82.44,scattered clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
20,Bathsheba,BB,80.20,clear sky,13.2167,-59.5167,Atlantis Hotel
21,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
25,Buala,SB,80.20,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
26,Kahului,US,85.26,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
30,Vila Franca Do Campo,PT,70.21,overcast clouds,37.7167,-25.4333,Pestana Bahia Praia
34,Fukuchiyama,JP,89.46,overcast clouds,35.3000,135.1167,Fukuchiyama Ark Hotel
39,Lazaro Cardenas,MX,82.20,broken clouds,17.9583,-102.2000,quinta antigua
40,Yeppoon,AU,71.38,few clouds,-23.1333,150.7333,Villa Mar Colina
41,Qui Nhon,VN,87.89,few clouds,13.7667,109.2333,Hoang Yen Canary Hotel
45,Teknaf,BD,79.07,heavy intensity rain,20.8624,92.3058,Forestry Guesthouse
46,Altay,CN,78.67,clear sky,47.8667,88.1167,Jinqiao Hotel
51,Kavieng,PG,84.94,broken clouds,-2.5744,150.7967,Nusa Island Retreat
54,Mtambile,TZ,75.34,light rain,-5.3833,39.7000,
57,Atuona,PF,77.81,scattered clouds,-9.8000,-139.0333,Villa Enata
58,Ariquemes,BR,81.01,broken clouds,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
63,Zaltan,LY,79.12,clear sky,32.9470,11.8665,زلطن الشرقية
64,Panzhihua,CN,78.40,broken clouds,26.5851,101.7128,Electric Power Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Butaritari,KI,82.49,light rain,3.0707,172.7902,Isles Sunset Lodge
1,Aksu,CN,89.89,clear sky,41.1231,80.2644,Pudong Holiday Hotel
5,Ponta Do Sol,PT,72.72,clear sky,32.6667,-17.1000,Hotel do Campo
8,Tubuala,PA,78.33,overcast clouds,9.5167,-79.0333,Río Nabagana
9,Pochutla,MX,82.81,overcast clouds,15.7432,-96.4661,Hotel Posada San Jose
12,Hilo,US,78.53,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Ponta Delgada,PT,70.52,light intensity drizzle,37.7333,-25.6667,Vila Nova Hotel
15,Sistranda,NO,70.90,clear sky,63.7256,8.8340,Hotell Frøya
17,Samarai,PG,78.73,overcast clouds,-10.6167,150.6667,Nuli Sapi
18,Byron Bay,AU,72.05,clear sky,-28.6500,153.6167,Backpackers Inn on the Beach

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Deacription</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))